<h1>Hot Date Spots of East Village</h1>

<ul>
	<% @spots.each do |spot| %>
		<li><%= link_to spot.name, "/spots/#{spot.id}" %></li>
		<li>Spot: <%= spot.name %></li>

	<% end %>
</ul>


<%#= spot.rating %>
<%#= spot.description %>
<%#= spot.address %>
<%#= spot.price %>
<%#= spot.hours %>