<div class="backlink"><%= link_to "Back", spots_path %></div>

<%= form_for [@spots, @comments] do |f| %>
  <p><%= f.text_area :opinion, { placeholder: "Comments", size: "35x15" } %></p>
  <%#= f.hidden_field :user_id, { value: current_user.id } %>
  <%#= f.hidden_field :spot_id, { value: @spots.id } %>
  <p><%= f.submit %></p>
<% end %>